---
import Layout from "@/layouts/Layout.astro";

import Header from "@/components/header.astro";
import Hero from "@/components/hero.astro";
import About from "@/components/about.astro";
import Services from "@/components/services.astro";
import Work from "@/components/work.astro";
import Contact from "@/components/contact.astro";
import Footer from "@/components/footer.astro";
---

<Layout title="Daniel Cruz - Desarrollador Web & Diseñador">
  <Header />
  <!-- <Nav /> -->
  <Hero />
  <main
    class="relative bg-secondary text-primary rounded-xl md:rounded-3xl z-[9]"
  >
    <About />
    <Services />
    <Work />
  </main>
  <Contact />
  <Footer />
</Layout>
