<section id="about" class="container pt-20 lg:pt-28 section grid gap-8">
  <h2 class="animate-fade-in-up animate-duration-1000">Sobre Mí</h2>
  <div class="grid gap-8 md:grid-cols-2 lg:px-32">
    <div class="flex justify-end md:justify-center">
      <img
        class="opacity-95 rounded-xl max-md:h-96 md:max-h-[600px] animate-fade-in animate-duration-1000"
        src="about.png"
        alt="Foto de Daniel Cruz con una camisa blanca y una corbata"
      />
    </div>

    <div
      class="text-lg md:text-2xl flex flex-col max-md:items-end justify-end gap-5 animate-fade-in-down animate-duration-1000"
    >
      <p class="max-md:text-end">
        Me concentro en todo lo relacionado con el desarrollo y el diseño web.
        Mi objetivo es ofrecer una experiencia digital impactante y atractiva
        con el objetivo de hacer que destaquen en el mundo digital con un
        impacto poderoso.
      </p>
      <a
        class="w-fit"
        href="https://drive.google.com/file/d/1_IdgKcVT85LElIzbw4wFv3hQxTKwWIAf/view?usp=sharing"
        target="_blank"
      >
        <button
          class="expand border-2 w-fit px-12 py-3 rounded-full font-semibold hover:bg-primary hover:text-secondary duration-500 text-xl ease-in-out"
        >
          CV</button
        >
      </a>
    </div>
  </div>
</section>

<style>
  img {
    mask-image: linear-gradient(#0d0d0c 85%, transparent);
  }
</style>
