<section
  id="contact"
  class="container section grid gap-2 md:gap-4 text-center animate-fade-in animate-duration-700"
>
  <h3>¿Tienes un proyecto en mente?</h3>
  <button
    class="flex items-center gap-4 m-auto py-4 italic uppercase border-b-2 border-b-transparent hover:gap-6 md:hover:gap-12 hover:border-b-secondary hover:scale-105 duration-500 ease-in-out"
  >
    <a
      href="mailto:danielcruzzuluaga@gmail.com?subject=Asunto del Correo&body=Escribe tu mensaje aquí"
      ><span class="font-semibold text-4xl md:text-7xl lg:text-8xl"
        >Contáctame</span
      >
    </a>
    <svg
      class="size-10 md:size-20"
      viewBox="0 0 16 16"
      xmlns="http://www.w3.org/2000/svg"
      ><polygon
        stroke-width="0.4"
        fill-rule="evenodd"
        points="10.586 9 2 9 2 7 10.586 7 7.293 3.707 8.707 2.293 14.414 8 8.707 13.707 7.293 12.293 10.586 9"
      ></polygon></svg
    >
  </button>
</section>
