<section
  id="contact"
  class="container section grid gap-2 md:gap-4 text-center animate-fade-in animate-duration-700"
>
  <h4>¿Tienes un proyecto en mente?</h4>
  <button
    class="linkanimation relative flex items-center gap-3 m-auto py-4 italic uppercase border-b-transparent hover:gap-5 md:hover:gap-12 hover:border-b-secondary hover:scale-105 duration-300 ease-in-out"
  >
    <h3>
      <a
        href="mailto:danielcruzzuluaga@gmail.com?subject=Asunto del Correo&body=Escribe tu mensaje aquí"
        >Contáctame</a
      >
    </h3>
    <svg
      class="size-8 md:size-20"
      viewBox="0 0 16 16"
      xmlns="http://www.w3.org/2000/svg"
      ><polygon
        stroke-width="0.4"
        fill-rule="evenodd"
        points="10.586 9 2 9 2 7 10.586 7 7.293 3.707 8.707 2.293 14.414 8 8.707 13.707 7.293 12.293 10.586 9"
      ></polygon></svg
    >
  </button>
  <style>
    .linkanimation::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background-color: #0d0d0c;
      transform: scale(1, 1);
      transition: background-color 0.5s ease-in-out;
      bottom: 5px;
    }
    .linkanimation:hover::before {
      animation: link ease 1s 1 300ms;
      transform-origin: right;
    }

    @media (min-width: 768px) {
      .linkanimation::before {
        bottom: 0px;
        height: 3px;
      }
    }

    @keyframes link {
      50% {
        transform: scaleX(0);
      }
      50.1% {
        transform: translateX(-100%) scalex(-0.01);
      }
      100% {
        transform: translateX(-100%) scalex(-1);
      }
    }
  </style>
</section>
