<section
  id="hammm"
  class="fixed w-[98%] md:w-[50%] lg:hidden h-[99vh] right-0 bottom-0 px-8 pt-36 bg-secondary text-primary z-[9999] rounded-lg"
>
  <nav class="flex flex-col h-full justify-between">
    <ul class="flex flex-col text-5xl gap-1 font-bold uppercase z-30">
      <li>
        <a href="#home">Inicio</a>
      </li>
      <li>
        <a href="#services">Servicios</a>
      </li>
      <li>
        <a href="#work">Proyectos</a>
      </li>
      <li>
        <a href="#about">Sobre Mí</a>
      </li>
      <li>
        <a href="#contact">Contacto</a>
      </li>
    </ul>
    <footer class="pb-28">
      <div class="flex flex-col text-xl lg:text-2xl text-primary">
        <p class="font-semibold">Contáctame:</p>
        <a
          href="mailto:danielcruzzuluaga@gmail.com?subject=Asunto del Correo&body=Escribe tu mensaje aquí"
          >email@gmail.com</a
        >
      </div>
    </footer>
  </nav>

  <div class="animate-fade-in animate-duration-300">
    <img class="absolute top-0 z-10" src="blob.svg" alt="" />
    <img class="absolute top-12" src=" blob-2.svg" alt="" />
  </div>

  <button onclick="Close(this)">
    <div
      class="absolute top-6 right-7 size-10 lg:size-16 lg:top-7 lg:right-10 rounded-full bg-secondary z-20"
    >
    </div>
    <svg
      class="absolute top-5 right-5 z-20 fill-primary size-14 lg:size-20 lg:right-7 hover:scale-90 duration-300"
      viewBox="0 0 16 16"
      ><path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"
      ></path></svg
    >
  </button>
</section>
<header
  id="home"
  class="container animate-fade-in animate-delay-150 max-lg:py-5"
>
  <nav class="flex justify-between max-lg:items-center">
    <svg class="h-16 lg:h-20 lg:mt-8" viewBox="0 0 595.28 841.89"
      ><path
        d="m6.87 423.43 285.45-288.72c.6-.64.78-1.03.53-1.17l-1.8-1.1c-1.05-.64-2.06-.51-3.01.37l-282.3 265C2.66 400.73.9 404.72.85 408.9L.7 420.94c0 1.95 1.61 3.53 3.6 3.53.97 0 1.89-.37 2.57-1.04zm315.6-289.01C217.57 232 110.72 333.7 4.77 433.13c-2.71 2.55-3.86 5.65-3.46 9.33l1.5 15.05c.3 3.28 1.63 3.72 3.99 1.32a72850.937 72850.937 0 0 1 318.3-322.14c.7-.73.68-1.47-.08-2.2v-.07c-.84-.79-1.7-.79-2.55 0zm-71.81-.52c-75.2 70.88-152.5 143.48-231.91 217.79C8.3 361.46 3.26 371.74 2.74 385.4c-.15 4.65 1.43 5.31 4.74 1.98l245.97-248.49c1.01-1.01.98-2.65-.08-3.67l-1.35-1.32c-.41-.44-.86-.44-1.36 0zM6.27 473.14l3.23 9.99c1.35 4.11 3.56 4.6 6.62 1.47A64101.542 64101.542 0 0 1 354.8 142.42c.8-.83.78-1.64-.08-2.42v-.07c-.85-.78-1.68-.81-2.48-.07A70150.311 70150.311 0 0 1 8.98 462.72c-3.11 2.94-4.01 6.41-2.71 10.42zM21.76 315.2c-.24.25-.42.55-.53.88l-9.93 25.99c-.4 1.19.26 2.48 1.48 2.88.82.27 1.73.06 2.35-.53l192.8-195.1c.91-.89.91-2.33-.01-3.22-.69-.67-1.74-.85-2.62-.45l-6.99 3.01c-.25.11-.48.26-.68.44L21.76 315.2zM93.2 618.9a47730.74 47730.74 0 0 1 385.98-391.3c.5-.44.5-.91 0-1.4-.65-.64-1.33-.64-2.03 0a102861.372 102861.372 0 0 1-395.38 372c-.55.49-1.08.49-1.58 0h-.08c-.45-.49-.45-.95 0-1.4a43016.766 43016.766 0 0 1 392.53-397.47c.5-.54.48-1.05-.08-1.54-.5-.49-1-.51-1.5-.07A60651.194 60651.194 0 0 1 62.82 581.9c-.7.69-1.4.69-2.11 0v-.07c-.75-.69-.78-1.4-.08-2.13 125.13-126 250.2-252.11 375.23-378.31.6-.64.6-1.25 0-1.84l-.08-.07c-.6-.59-1.2-.59-1.8 0a81321.415 81321.415 0 0 0-385.3 363.1c-.1.1-.2.1-.3 0l-1.35-1.32c-1-.93-1-1.88 0-2.86C170.5 433.86 293.87 309.13 417.14 184.2c.5-.54.48-1.08-.08-1.62-.55-.54-1.08-.54-1.58 0-126.62 119.25-253.3 238.5-380.03 357.75-.75.69-1.5.69-2.26 0v-.07c-.75-.69-.78-1.4-.08-2.13a65439.501 65439.501 0 0 1 372.22-376.62c.65-.64.65-1.27 0-1.91l-.08-.07c-.7-.64-1.38-.64-2.03 0A75478.603 75478.603 0 0 1 29.43 511.55c-1.2 1.13-2.31 1.84-3.31 2.13-3.36.98-3.56-.05-.6-3.08C144.08 390.46 262.64 270.43 381.2 150.5c.65-.64.65-1.27 0-1.91h-.08c-.75-.78-1.53-.81-2.33-.07C261.99 259.1 144.91 369.49 27.55 479.68c-.35.29-3.43 2.55-9.25 6.76-7.02 5.04-8.17 12.02-3.46 20.93 6.32 11.97 8.42 24.31 14.51 36.27 38.2 75.39 98.43 126.32 180.7 152.81 6.62 2.13 13.08-.29 18.5 3.82 8.8 6.86 20.47 7.11 26.92.59C363.35 590.51 473.44 479.09 585.73 366.6c.75-.69.75-1.4 0-2.13s-1.48-.76-2.18-.07c-117.26 110.44-234.66 221-352.22 331.68-.9.83-1.78.83-2.63 0l-1.65-1.62c-.3-.29-.3-.61 0-.95a93654.763 93654.763 0 0 0 350.41-354c.55-.54.55-1.1 0-1.69-.6-.54-1.18-.54-1.73 0-123.47 116.11-246.89 232.2-370.26 348.27-1.05.98-2.08.98-3.08 0l-1.35-1.32c-.2-.2-.2-.42 0-.66A79982.277 79982.277 0 0 0 564.23 317.4c.55-.59.53-1.15-.08-1.69-.65-.64-1.3-.64-1.96 0a65507.073 65507.073 0 0 1-382.97 361.35c-.7.64-1.4.61-2.11-.07-.65-.64-.68-1.25-.08-1.84a24043.256 24043.256 0 0 1 314.25-318.39c17.65-17.57 34.89-35.3 51.74-53.16.55-.59.53-1.17-.08-1.76-.6-.59-1.23-.61-1.88-.07a68643.267 68643.267 0 0 1-384.85 362.36c-.6.59-1.2.59-1.8 0h-.08c-.65-.64-.65-1.3 0-1.98A96733.275 96733.275 0 0 1 538.96 272.9c.4-.39.4-.78 0-1.17h-.08c-.45-.49-.93-.49-1.43 0A204241.293 204241.293 0 0 1 134.78 650.4c-.7.64-1.38.64-2.03 0l-.08-.07c-.65-.64-.65-1.27 0-1.91a125787.87 125787.87 0 0 1 378.76-382.86c.6-.59.6-1.17 0-1.76h-.08c-.55-.59-1.1-.61-1.65-.07a78632.155 78632.155 0 0 1-395.45 372.13c-.65.64-1.33.64-2.03 0-.7-.69-.7-1.37 0-2.06 125.63-127.23 251.81-254.75 378.54-382.57.6-.64.6-1.25 0-1.84l-.08-.07c-.65-.64-1.3-.64-1.96 0-130.43 123.03-260.92 246-391.46 368.92a8.81 8.81 0 0 1-3.16 1.98.834.834 0 0 1-1.09-.42.803.803 0 0 1 .19-.9zM39.81 284.36 148.09 174.8c.65-.65.65-1.69 0-2.35l-2.86-2.72c-1.84-1.99-27.71 21.03-57.78 51.41-.09.09-.18.19-.28.28l-1.88 1.91c-30.04 30.38-52.79 56.51-50.83 58.38l2.86 2.72c.69.65 1.78.63 2.45-.04.02-.01.03-.02.04-.03zm548.48 111.17c-.44-.42-1.14-.42-1.58 0L257.35 705.84c-.42.45-.38 1.15.08 1.56.19.16.42.26.67.28l23.16.95c.34.02.67-.12.9-.37l307.1-310.17c.38-.42.38-1.05 0-1.47l-.97-1.09zm2.86 29.74-296.88 279.4c-2.96 2.79-2.38 4.19 1.73 4.19l15.11.15c3.71 0 6.84-1.3 9.4-3.89l273.94-276.83c.7-.69.95-1.1.75-1.25l-1.8-1.76c-.75-.75-1.5-.75-2.25-.01zm-5.49 39.28L332.17 702.91c-1.95 1.86-1.58 3.06 1.13 3.6 11.28 2.1 20.93-.86 28.95-8.89 72.94-73.38 148.64-149.8 227.09-229.25.75-.83.73-1.64-.08-2.42l-1.43-1.4c-.69-.73-1.42-.73-2.17 0zm-10.83 43.99L378.57 693.21c-3.51 3.33-2.83 4.72 2.03 4.19 13.01-1.32 23.46-6.9 32.48-16.01 56.15-56.05 112.09-112.62 167.84-169.7.45-.49.43-.98-.08-1.47l-1.65-1.69c-1.45-1.41-2.91-1.41-4.36.01zM550.47 565 438.35 671.48c-.69.65-.7 1.72-.04 2.39.01.01.02.02.04.03l1.13 1.17c3 2.74 30.49-18.86 61.51-48.32l1.95-1.84c31.04-29.48 53.91-55.72 51.13-58.67l-1.13-1.17c-.64-.69-1.74-.74-2.44-.11-.01.02-.02.03-.03.04z"
      ></path>
      <path
        d="M292.32 134.71 6.87 423.43a3.668 3.668 0 0 1-5.1.01 3.497 3.497 0 0 1-1.06-2.5l.15-12.04c.05-4.18 1.81-8.17 4.89-11.09L288.03 132.8c.95-.88 1.96-1 3.01-.37l1.8 1.1c.26.15.08.54-.52 1.18zM4.77 433.13C110.72 333.7 217.57 232 322.47 134.42c.85-.78 1.7-.78 2.56 0v.07c.75.73.78 1.47.08 2.2A72311.707 72311.707 0 0 0 6.8 458.83c-2.36 2.4-3.68 1.96-3.99-1.32l-1.5-15.05c-.4-3.68.75-6.79 3.46-9.33zM250.66 133.9c.5-.44.95-.44 1.35 0l1.35 1.32c1.05 1.02 1.09 2.66.08 3.67L7.47 387.38c-3.31 3.33-4.89 2.67-4.74-1.98.53-13.66 5.56-23.94 16.02-33.7a90062.4 90062.4 0 0 0 231.91-217.8zM8.98 462.72a70125.78 70125.78 0 0 0 343.27-322.87c.8-.73 1.63-.71 2.48.07v.08c.85.78.88 1.59.08 2.42A64103.91 64103.91 0 0 0 16.12 484.6c-3.06 3.13-5.26 2.64-6.62-1.47l-3.23-9.99c-1.3-4.01-.4-7.48 2.71-10.42zM21.76 315.2l175.88-166.1c.2-.18.43-.33.68-.44l6.99-3.01c1.17-.53 2.55-.03 3.1 1.11.41.86.23 1.89-.46 2.56l-192.8 195.1c-.92.87-2.4.85-3.3-.05-.6-.61-.81-1.49-.54-2.3l9.93-25.99c.1-.33.28-.63.52-.88zM94.1 620.22a8.81 8.81 0 0 0 3.16-1.98C227.8 495.32 358.29 372.35 488.73 249.33c.65-.64 1.3-.64 1.96 0l.08.07c.6.59.6 1.2 0 1.84a258136.112 258136.112 0 0 0-378.55 382.57c-.7.69-.7 1.37 0 2.06.7.64 1.38.64 2.03 0a80427.708 80427.708 0 0 0 395.46-372.14c.55-.54 1.1-.51 1.65.07h.08c.6.59.6 1.17 0 1.76a124635.08 124635.08 0 0 0-378.76 382.86c-.65.64-.65 1.27 0 1.91l.08.07c.65.64 1.33.64 2.03 0 134.35-126 268.58-252.23 402.68-378.68.5-.49.98-.49 1.43 0h.08c.4.39.4.78 0 1.17a96064.823 96064.823 0 0 0-384.65 389.26c-.65.69-.65 1.35 0 1.98h.08c.6.59 1.2.59 1.8 0a68625.376 68625.376 0 0 0 384.86-362.37c.65-.54 1.28-.51 1.88.07.6.59.63 1.17.08 1.76a2322.954 2322.954 0 0 1-51.74 53.16 24043.256 24043.256 0 0 0-314.25 318.39c-.6.59-.58 1.2.08 1.84.7.69 1.4.71 2.11.07A65806.412 65806.412 0 0 0 562.2 315.71c.65-.64 1.3-.64 1.96 0 .6.54.63 1.1.08 1.69a79986.642 79986.642 0 0 1-363.21 366.71c-.2.24-.2.47 0 .66l1.35 1.32c1 .98 2.03.98 3.08 0 123.37-116.07 246.79-232.16 370.27-348.28.55-.54 1.13-.54 1.73 0 .55.59.55 1.15 0 1.69a94414.64 94414.64 0 0 1-350.41 354c-.3.34-.3.66 0 .95l1.65 1.62c.85.83 1.73.83 2.63 0C348.89 585.39 466.3 474.83 583.55 364.4c.7-.69 1.43-.66 2.18.07.75.73.75 1.44 0 2.13-112.29 112.49-222.38 223.91-330.26 334.25-6.45 6.52-18.12 6.27-26.92-.59-5.41-4.11-11.88-1.69-18.5-3.82-82.26-26.48-142.5-77.42-180.7-152.81-6.09-11.97-8.2-24.31-14.51-36.27-4.71-8.91-3.56-15.89 3.46-20.93 5.82-4.21 8.9-6.46 9.25-6.76a113819.07 113819.07 0 0 0 351.24-331.16c.8-.73 1.58-.71 2.33.07h.08c.65.64.65 1.27 0 1.91a639564.314 639564.314 0 0 0-355.68 360.1c-2.96 3.04-2.76 4.06.6 3.08 1-.29 2.11-1 3.31-2.13a75927.919 75927.919 0 0 0 373.8-352.02c.65-.64 1.33-.64 2.03 0l.08.07c.65.64.65 1.27 0 1.91A65437.457 65437.457 0 0 0 33.12 538.13c-.7.73-.68 1.44.08 2.13v.07c.75.69 1.5.69 2.26 0 126.73-119.25 253.41-238.5 380.04-357.75.5-.54 1.03-.54 1.58 0s.58 1.08.08 1.62A229570.098 229570.098 0 0 1 47.03 558.4c-1 .98-1 1.93 0 2.86l1.35 1.32c.1.1.2.1.3 0a80872.515 80872.515 0 0 1 385.31-363.11c.6-.59 1.2-.59 1.8 0l.08.07c.6.59.6 1.2 0 1.84-125.03 126.2-250.1 252.3-375.23 378.31-.7.73-.68 1.44.08 2.13v.07c.7.69 1.4.69 2.11 0a60908.01 60908.01 0 0 0 408.24-384.18c.5-.44 1-.42 1.5.07.55.49.58 1 .08 1.54A43017.37 43017.37 0 0 0 80.11 596.8c-.45.44-.45.91 0 1.4h.08c.5.49 1.03.49 1.58 0 132.54-124.05 264.34-248.05 395.38-372 .7-.64 1.38-.64 2.03 0 .5.49.5.95 0 1.4A47730.74 47730.74 0 0 0 93.2 618.9c-.33.31-.34.82-.02 1.14.24.24.61.32.92.18zM39.81 284.36c-.64.69-1.74.74-2.44.11-.01-.01-.03-.02-.04-.03l-2.86-2.72c-1.96-1.87 20.79-28 50.83-58.38l1.88-1.91c30.06-30.4 56.04-53.55 58.03-51.71l.02.02 2.86 2.72c.65.65.65 1.69 0 2.35L39.81 284.36zM588.29 395.53l.98 1.1c.38.42.38 1.05 0 1.47l-307.1 310.17c-.23.25-.56.38-.9.37l-23.16-.95c-.62-.05-1.09-.58-1.04-1.18.02-.24.12-.47.29-.65l329.36-310.31c.43-.44 1.13-.44 1.57-.02zM591.15 425.27c.75-.73 1.5-.73 2.26 0l1.8 1.76c.2.15-.05.56-.75 1.25L320.52 705.11c-2.56 2.59-5.69 3.89-9.4 3.89l-15.12-.15c-4.11 0-4.69-1.4-1.73-4.19l296.88-279.39zM332.17 702.91l253.49-238.35c.75-.73 1.48-.73 2.18 0l1.43 1.4c.8.78.83 1.59.08 2.42a97128.144 97128.144 0 0 1-227.09 229.25c-8.02 8.03-17.67 10.99-28.95 8.89-2.72-.56-3.09-1.75-1.14-3.61zM574.83 508.54c1.45-1.42 2.91-1.42 4.36 0l1.65 1.69c.5.49.53.98.08 1.47a18958.121 18958.121 0 0 1-167.84 169.7c-9.02 9.11-19.48 14.69-32.48 16.01-4.86.54-5.54-.86-2.03-4.19l196.26-184.68zM550.47 565c.69-.65 1.78-.63 2.45.04l.04.04 1.13 1.17c2.78 2.95-20.09 29.19-51.13 58.67l-1.95 1.84c-31.02 29.45-58.51 51.05-61.51 48.32l-1.13-1.17c-.69-.65-.7-1.72-.04-2.39.01-.01.02-.02.04-.03L550.47 565z"
      ></path>
    </svg>
    <ul class="hidden lg:text-[23px] font-medium lg:flex flex-col mt-10">
      <li>
        <a href="#services" class="linkanimation relative">Servicios</a>
      </li>
      <li><a href="#work" class="linkanimation relative">Proyectos</a></li>
      <li><a href="#about" class="linkanimation relative">Sobre Mí</a></li>
      <li>
        <a href="#contact" class="linkanimation relative"><>Contacto</></a>
      </li>
    </ul>
    <button
      class="size-8 stroke-secondary stroke-[1.8] lg:hidden"
      onclick="Open(this)"
    >
      <svg viewBox="0 0 24 24">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>
    </button>
  </nav>
</header>

<style>
  .linkanimation::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1.5px;
    background-color: #0d0d0c;
    transform: scale(0, 1);
    transition: background-color 0.5s ease-in-out;
    bottom: -1px;
  }
  .linkanimation:hover::before {
    animation: link ease 1s 1 100ms;
    transform: scale(1, 1);
    transform-origin: right;
  }

  @keyframes link {
    50% {
      transform: scaleX(0);
    }
    50.1% {
      transform: translateX(-100%) scalex(-0.01);
    }
    100% {
      transform: translateX(-100%) scalex(-1);
    }
  }
</style>

<script>
  const ham = document.getElementById("hammm");
  function Open() {
    ham?.classList.remove("hidden");
  }
  function Close() {
    ham?.classList.add("hidden");
  }
</script>
