<section class="container section mt-8 md:mt-20 grid gap-8 md:gap-10">
  <div
    class="animate-fade-in animate-delay-300 grid md:justify-center text-lg lg:text-2xl"
  >
    <span
      class="py-1 px-3 md:py-2 md:px-6 w-fit font-medium animate-shimmer rounded-full text-primary bg-[linear-gradient(110deg,#0d0d0c,45%,#0d0d0c95,65%,#0d0d0c)] bg-[length:200%_100%]"
    >
      diseñador y desarrollador web
    </span>
  </div>
  <h1 class="md:text-center animate-fade-in-up animate-duration-1000">
    Daniel Cruz
  </h1>
  <div
    class="animate-fade-in animate-delay-500 grid md:grid-cols-[1.8fr,1fr] 2xl:px-20 gap-8"
  >
    <div class="hidden md:flex flex-col gap-1 text-lg lg:text-2xl">
      <p class="font-semibold">Contáctame</p>
      <a
        href="mailto:danielcruzzuluaga@gmail.com?subject=Asunto del Correo&body=Escribe tu mensaje aquí"
        >email@gmail.com</a
      >
    </div>
    <div class="text-lg lg:text-2xl text-pretty max-md:pr-24">
      <p>
        Desarrollador Front-end y Diseñador Web con interés en ayudar a negocios
        digitales a que destaquen en el mundo digital.
      </p>
    </div>
  </div>
</section>
