---
import gsap from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";
---

<section id="services" class="container section">
  <h2 class="mb-8 animate-fade-in-up animate-duration-1000">Servicios</h2>

  <div
    class="box w-full peer py-6 flex flex-col justify-center animate-slide-in-left animate-duraion-1000"
  >
    <div class="flex items-center justify-between">
      <h3>Diseño Web</h3>
      <!-- <svg
        class="size-7 md:size-10 fill-primary lg:hidden"
        viewBox="0 0 512 512"
        ><polygon
          points="396.6,160 416,180.7 256,352 96,180.7 115.3,160 256,310.5 "
        ></polygon>
      </svg> -->
    </div>
    <div
      class="text lg:absolute size-full flex flex-col justify-center lg:bg-primary lg:text-secondary"
    >
      <span
        class="max-lg:py-5 lg:px-4 lg:w-[50%] text-lg md:text-2xl font-medium"
      >
        Diseño sitios web con una tipografía limpia y diseños minimalistas que
        atraen tu marca y cumplen con los objetivos comerciales.</span
      >
    </div>
  </div>
  <div
    class="box w-full py-6 border-y-2 border-primary/10 flex flex-col justify-center animate-slide-in-left animate-duraion-1000"
  >
    <div class="flex items-center justify-between">
      <h3>Desarrollo Web</h3>
      <!-- <svg
        class="size-7 md:size-10 fill-primary lg:hidden"
        viewBox="0 0 512 512"
        ><polygon
          points="396.6,160 416,180.7 256,352 96,180.7 115.3,160 256,310.5 "
        ></polygon>
      </svg> -->
    </div>
    <div
      class="text lg:absolute size-full flex flex-col justify-center lg:bg-primary lg:text-secondary"
    >
      <span
        class="max-lg:py-5 lg:px-4 lg:w-[50%] text-lg md:text-2xl font-medium"
      >
        Creo sitios web únicos adaptados a cada dispositivo. Me concentro en el
        rendimiento, la accesibilidad y las animaciones atractivas.</span
      >
    </div>
  </div>
  <div
    class="box w-full py-6 flex flex-col border-b-2 border-primary/10 justify-center animate-slide-in-left animate-duraion-1000"
  >
    <div class="flex items-center justify-between">
      <h3>SEO</h3>
      <!-- <svg
        class="size-7 md:size-10 fill-primary lg:hidden"
        viewBox="0 0 512 512"
        ><polygon
          points="396.6,160 416,180.7 256,352 96,180.7 115.3,160 256,310.5 "
        ></polygon>
      </svg> -->
    </div>
    <div
      class="text lg:absolute size-full flex flex-col justify-center lg:bg-primary lg:text-secondary"
    >
      <span
        class="max-lg:py-5 lg:px-4 lg:w-[50%] text-lg md:text-2xl font-medium"
      >
        Optimizo la presencia en línea para elevar la visibilidad en los
        rankings de búsqueda para que sus voces puedan ser escuchadas en el
        mundo digital.</span
      >
    </div>
  </div>
</section>

<style>
  @media (min-width: 1024px) {
    .box:hover > .text {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .text {
      clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
      transform-origin: center;
      transition: all cubic-bezier(0.1, 0.5, 0.5, 1) 0.4s;
    }
    .box {
      background: linear-gradient(to right, #b6b6b6, #b6b6b6) no-repeat;
      -webkit-background-clip: text;
      background-clip: text;
      background-size: 0%;
      transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;
    }
  }
</style>

<script>
  gsap.registerPlugin(ScrollTrigger);

  const textElements = gsap.utils.toArray(".text") as HTMLElement[];

  textElements.forEach((text) => {
    gsap.to(text, {
      backgroundSize: "100%",
      ease: "none",
      scrollTrigger: {
        trigger: text,
        start: "center 80%",
        end: "center 20%",
        scrub: true,
      },
    });
  });
</script>
