---
import Star from "./icons/star.astro";
import Rumble from "./icons/rumble.astro";
import Diamond from "./icons/diamond.astro";
---

<section class="container pb-10 md:pb-20 lg:pb-28 grid gap-8">
  <h2>Servicios.</h2>
  <div class="grid gap-8 lg:grid-cols-2 xl:grid-cols-3 justify-center">
    <article
      class="grid gap-6 rounded-3xl py-12 px-6 md:px-8 2xl:px-12 border-2 shadow-2xl shadow-primary/10 hover:shadow-primary/20 duration-300"
    >
      <Star class="size-8 md:size-12 fill-primary lg:mb-4" />
      <h4 class="text-5xl font-semibold">Desarrollo Web</h4>
      <p class="text-pretty text-lg md:text-2xl font-normal">
        Creo sitios web únicos con código adaptados a cada dispositivo. Me
        concentro en el rendimiento, la accesibilidad y las animaciones
        atractivas.
      </p>
      <div>
        <button
          class="bg-primary text-secondary w-fit lg:mt-8 px-4 py-2 md:py-3 rounded-full font-normal hover:bg-primary/70 hover:text-secondary duration-300 text-lg md:text-2xl"
        >
          <a href="">Cotáctame</a>
        </button>
      </div>
    </article>
    <article
      class="grid gap-6 rounded-3xl py-12 px-6 md:px-8 2xl:px-12 border-2 shadow-2xl shadow-primary/10 hover:shadow-primary/20 duration-300"
    >
      <Diamond class="size-8 md:size-12 fill-primary lg:mb-4" />
      <h4 class="text-5xl font-semibold">Diseño Web</h4>
      <p class="text-pretty text-lg md:text-2xl font-normal">
        Diseño sitios web con una tipografía limpia y diseños minimalistas que
        atraen tu marca y cumplen con los objetivos comerciales.
      </p>
      <div>
        <button
          class="bg-primary text-secondary w-fit lg:mt-8 px-4 py-2 md:py-3 rounded-full font-normal hover:bg-primary/70 hover:text-secondary duration-300 text-lg md:text-2xl"
        >
          <a href="">Cotáctame</a>
        </button>
      </div>
    </article>
    <article
      class="grid gap-6 rounded-3xl py-12 px-6 md:px-8 2xl:px-12 border-2 shadow-2xl shadow-primary/10 hover:shadow-primary/20 duration-300"
    >
      <Rumble class="size-8 md:size-12 fill-primary lg:mb-4" />
      <h4 class="text-5xl font-semibold">SEO</h4>
      <p class="text-pretty text-lg md:text-2xl font-normal">
        Optimizo la presencia en línea para elevar la visibilidad en los
        rankings de búsqueda para que sus voces puedan ser escuchadas en el
        mundo digital.
      </p>
      <div>
        <button
          class="bg-primary text-secondary w-fit lg:mt-8 px-4 py-2 md:py-3 rounded-full font-normal hover:bg-primary/70 hover:text-secondary duration-300 text-lg md:text-2xl"
        >
          <a href="">Cotáctame</a>
        </button>
      </div>
    </article>
  </div>
</section>
