<div
  class="fixed w-[200%] h-[200vh] inset-0 z-[999] pointer-events-none brightness-50"
>
</div>

<style>
  div {
    background-image: url("./noise-light.png");
    mix-blend-mode: multiply;
  }
</style>
